BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
BreakBeforeBraces: Custom


# AccessModifierOffset: -2
BraceWrapping:
  AfterEnum: true
  SplitEmptyFunction: false
  AfterFunction: true
  AfterClass: true
